<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="SubmitForm(detail)" #detail="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control"
            ngModel
            name="username"
            required="">
          </div>
          <button class="btn btn-default" type="button"
          (click)="suggestedUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
            type="email" 
            id="email" 
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">Enter valid User Data</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultValue"
          name="selection">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" rows="3" class="form-control" [(ngModel)]="answer"></textarea>
        </div>
        <p>Your Answer is: {{answer}}</p>
        <div class="radio" *ngFor="let gender of genderList">
          <input type="radio" id="{{gender}}" name="gender" [(ngModel)]="selectedGender" [value]="gender">
          <label for="{{gender}}">{{gender}}</label>
        </div>
        
        <button [disabled]="!detail.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Data Form</h3>
    <p>Name: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Secret: {{user.secret}}</p>
    <p>questionAnswer: {{user.questionAnswer}}</p>
    <p>Gender: {{user.gender}}</p>
  </div>
</div>
